.storiestitle p{
font-size: 40px;
margin-top: -150px;
}
.stories-container{
    margin-top: 80px;
    height:545px;
    display: flex;
    border-top:2.5px solid #F0F0F0 ;
    border-bottom:2.5px solid #F0F0F0 ;
    justify-content: center;
    align-items: center;
}
.underline2{
    width:2.5px;
    height:400px;
    background: #F0F0F0 0% 0% no-repeat padding-box;
    opacity: 1;
}
@media only screen and (max-width: 786px) {
    .storiestitle p{
        font-size:21px;
    }
    .stories-container{
        flex-direction: column;
    }
    .underline2{
        background-color: #ffffff;
    }
    .stories-container{
        border-top:none;
        border-bottom:none;
    }
}