.card2{
    max-width: 946px;
    min-height: 254px;
    border-top: 3px solid #F0F0F0;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left:10px;
    color:black;
 
}
.card2image{
    max-width: 308px;
    min-height:184px;
}
.card2image img{
    max-width:100%;
    height:auto;
    /* padding-top: 39px;
    padding-bottom: 39px; */
}
.card2content{
    margin-left:30px;
    min-width: 196px;
    
}
.card2heading{
    font-size: 26px;
    line-height: 1.5em;
    font-weight: 600;
    
    
}
.card2body-content{
    font-size:17px;
    line-height: 1.5em;
    font-weight:400;
    color:#908D8D;
   
}
.card2details-info{
    font-size: 17px;
    /* text-decoration: double; */
}
.card2details-info-2{
    font-size: 17px;
    color: #404040;
opacity: 0.24;
line-height: 1.5em;
}
@media only screen and (max-width: 1090px){
  
    .card2heading{
        font-size: 20px;
    }
    .card2body-content{
        font-size: 14px;
    }
    .card2details-info,.card2details-info-2{
        font-size:14px;
    }
}