.toppost-grid {
    max-width: 450px;
    display:flex;
    flex-direction: column;
}
.topposts p{
    font-size:40px;
}
.toppost-grid .card3:first-child{
 flex-direction: column;

}
.toppost-grid .card3:first-child .card3image{
    background-image:url("./../../Images/card3.jpg") ;
    background-size: cover;
    background-repeat: no-repeat;
    width: 452px;
    height: 266px;
}
.toppost-grid .card3:first-child .card3image img{
    display:none;
}
.toppost-grid .card3:first-child .card3-header-content{
    display:flex;
    flex-direction: column;
    margin-left: 0px;
    padding-left:0px;
    max-width:450px;
    /* justify-content: flex-start;
    align-items: flex-start; */
}
.toppost-grid .card3:first-child .card3-header-content .card2details{
    margin-left: 0;
}
.toppost-grid .card3:first-child .card3-header-content .card2details-info{
    margin:0;
}