.navigation{
    display: flex;
    border-bottom: 1px solid rgb(207, 207, 207);
    justify-content: space-evenly;
    align-items: center;
}
.home, .Bollywood, .Technology,.Hollywood,.Fitness,.Food{
    font-size: 18px;
    font-weight: 800;
    cursor:pointer;
    text-align: center;
    color: black;
    text-decoration: none;
}

.ham{
    width:25px;
    height:16px;
    display:none;
}

@media only screen and (max-width: 1090px){

}
@media only screen and (max-width: 786px){
    button{
        display:unset;
    }
    .navigation{
        flex-direction: column;
    }
    .showMenu{
        display: none;
      }
    .home, .Bollywood, .Technology,.Hollywood,.Fitness,.Food{
        font-size:16px;
    }
  
}