.header{
    margin: 10px auto;
    display: flex;
    max-width: 260px;
}
.vertical{
    font-size: 32px;
    display: inline-block;
    transform: rotate(-90deg);
    font-weight: medium;
}
.horizontal{
    font-size: 71px;
    display: inline-block;
    font-weight: bold;
}
.GetStarted{
    display: none;
}

@media only screen and (max-width: 786px){
    .vertical{
        font-size: 9px;
        margin: 0;
    }
    .horizontal{
        font-size:24px;
        margin:0;
    }
}