

.header{
    margin: 10px auto;
    display: flex;
    max-width: 260px;
}
.vertical{
    font-size: 32px;
    display: inline-block;
    transform: rotate(-90deg);
    font-weight: medium;
}
.horizontal{
    font-size: 71px;
    display: inline-block;
    font-weight: bold;
}