.blogHeader {
    box-shadow: 0px 3px 6px #00000029;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.blogHeader .blogHead{
    margin-left:10px;
}

.blogHeader .blogHead .header {
    justify-content: center;
    margin-left: 0;
}

.blogHeader .blogHead .header .vertical {
    font-size: 19px;
    margin: 0;
}

.blogHeader .blogHead .header .horizontal {
    font-size: 44px;
    margin: 0;
}

.blogHeader .GetStarted {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 137px;
    height: 45px;
    border: 1px solid #03A87C;
    margin-right: 12px;
}

.blogHeader .GetStarted .startbutton p {
    font-size: 18px;
    margin: 0;
    color: #03A87C;
    cursor: pointer;

}
.container {
    max-width: 677px;
    padding:0 36.5px;
}

.RelatedReads-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0 36px;
}

.more {
    font-size: 22px;
    margin-left:10px;
}
@media only screen and (max-width: 786px){
    .RelatedReads-container {
        flex-direction: column;
    }
    .blogHeader .blogHead .header .vertical {
        font-size: 9px;
    }
    .blogHeader .blogHead .header .horizontal {
        font-size: 24px;
    }
    .blogHeader .GetStarted .startbutton p {
        font-size:15px;
    }
    .blogHeader .GetStarted {
        width: 111px;
        height: 31px;    
    }
   
    
}